<?xml version="1.0" encoding="UTF-8" ?>

<Configuration status="ERROR">

    <Appenders>
        <Console name="ABC" target="SYSTEM OUT">
            <PatternLayout pattern ="[%level] %d{HH:mm:ss:SSS} - %msg - %l%n"/>
        </Console>

        <File name="DevXSchool" fileName = "logs/meetup_${date:yyyy-MM-dd}.log" append = "true">
            <PatternLayout pattern ="[%level] %d{HH:mm:ss:SSS} - %msg - {%c}%l%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="ABC"/>
            <AppenderRef ref="DevXSchool"/>
        </Root>
    </Loggers>

</Configuration>
